.minor-section {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
  }


