.minor-section {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: darkgray;
    color: white;
    font-family: sans-serif;
    font-size: 0.8em;
  }

  #output {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.output-item {
    width: calc(33.33% - 10px); /* Adjust the width to fit 3 columns */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
}